/* ==========================================================================
Author's custom styles
========================================================================== */
@import "fonts";
@import "colors";

body {
    font-family: 'gotham_mediumregular';
    padding-top: 50px;
    background-color: $fore-color;
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1050;
	overflow: hidden;
	background-color: $background-color;
	top: 0;

	svg {
		width: 100%;
		margin: auto;
	}
}

.navbar.navbar-inverse {

    background-image: none;
    background-color: $background-color;
    border: none;

    .navbar-brand {
        width: 225px;
        height: inherit;
    }

    .nav.navbar-nav.navbar-right {

        padding-top: 10px;

        li a {
        	color: $inactive-color;

        	&.active, &:hover {
        		color: $fore-color;
        	}
        }
    }
}

.og-grid {
	padding: 0;

	.og-expander {
		background-color: $background-color;

		.og-details h3 {
			color: $fore-color;
		}

		.og-details p {
			color: $fore-color;
			font-family: 'gotham_thinregular';
			font-size: 18px;
		}
	}
}

footer {
	font-family: 'gotham_thinregular';
	font-size: 14px;

	background-color: $background-color;
	color: $fore-color;

	width: 100%;
	padding: 45px 100px;
}